<ion-header>
  <ion-toolbar color='primary'>
    <ion-title>pacientes</ion-title>
    <ion-buttons slot='primary'>
      <ion-button (click)="openCreatePacientForm()">
        <ion-icon name='add-outline' slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor='let paciente of loadedPacientes'>
      <ion-label>
        <h2>{{paciente.nome}}</h2>
        <h3>{{paciente.telefone}}</h3>
        <p>{{paciente.email}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>