<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pacientes">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Pacientes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="tab2">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Hoje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="browsers-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Próximas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Pendente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Todas as Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Relatório</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label class="ion-hide-sm-down">Totais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
